<div class="cv-container">
  <div class="cv-side-left" #left [@slide-left]='stateLeftCol' (@slide-left.done)="columnsIn($event)">
    <div class="img" [@slide-header-left]='stateLeft[0]'>
      <img src="./../../assets/shande.jpg" alt="my picture">
    </div>
    <div class="heading" [@slide-header-left]='stateLeft[0]'>
      <mat-icon>face</mat-icon>
      <h2>Personal information</h2>
    </div>
    <div class="personal-body body" [@slide-body-left]='stateLeft[0]'>
      <div>
        <i class="fas fa-home"></i>
        <p>ul. Tadeusza Zielińskiego 62/32</p>
        <p>53-534 Wrocław</p>
      </div>
      <div>
        <i class="fab fa-github"></i>
        <p>
          <a href="https://github.com/marcincyboran" target="_blank">GihHub profile</a>
        </p>
      </div>
      <div>
        <i class="fas fa-phone"></i>
        <p>606-281-274</p>
        <p>
          <a href="mailto:marcin.cyboran.wsb@gmail.com" target="_blank">marcin.cyboran.wsb@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="heading" [@slide-header-left]='stateLeft[1]'>
      <mat-icon>assignment</mat-icon>
      <h2>Experience</h2>
    </div>
    <div class="experience-body body" >
      <div [@slide-body-left]='stateLeft[1]'>
        <p>
          <em>12.2015 – 01.2017</em>
        </p>
        <p>
          <strong>Bogatyńskie Wodociągi i Oczyszczalnia S.A</strong>
        </p>
        <p>Laborant</p>
        <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, temporibus!</p>
      </div>
      <div [@slide-body-left]='stateLeft[1]'>
        <p>
          <em>01.2014 – obecnie</em>
        </p>
        <p>
          <strong>Samozatrudnienie</strong>
        </p>
        <p class="details">Sprzedaż detaliczna prowadzona przez domy sprzedaży wysyłkowej lub Internet</p>
      </div>
      <div [@slide-body-left]='stateLeft[1]'>
        <p>
          <em>09.2012 – 10.2012</em>
        </p>
        <p>
          <strong>Herbapol S.A. Wrocławskie Zakłady Zielarskie</strong>
        </p>
        <p>Praktykant</p>
        <p class="details">Praktyki studenckie w Laboratorium Kontroli Jakości - laboratorium mikrobiologiczne
        </p>
      </div>
    </div>
    <div class="heading" [@slide-header-left]='stateLeft[2]'>
      <mat-icon>whatshot</mat-icon>
      <h2>Personality</h2>
    </div>
    <div class="personality-body body" [@slide-body-left]='stateLeft[2]'>
      <p>Otwarty</p>
      <p>Punktualny</p>
      <p>Dokładny</p>
      <p>Samodzielny</p>
      <p>Zorganizowany</p>
      <p>Ugodowy</p>
    </div>
    <div class="heading" [@slide-header-left]='stateLeft[3]'>
      <mat-icon>notifications</mat-icon>
      <h2>Po godzinach</h2>
    </div>
    <div class="hobbies-body body" [@slide-body-left]='stateLeft[3]'>
      <i class="fas fa-code"></i>
      <i class="fas fa-coffee"></i>
      <i class="fas fa-film"></i>
      <i class="fas fa-gamepad"></i>
      <i class="fas fa-headphones"></i>
      <i class="fas fa-book"></i>
    </div>
  </div>
  <div class="cv-side-right" #right [@slide-right]='stateRightCol' >
    <div class="heading heading-name" [@slide-header-right]='stateRight[0]'>
      <h2>Marcin Cyboran</h2>
    </div>
    <div class="heading heading-profile" [@slide-header-right]='stateRight[0]'>
      <h2>Profil</h2>
    </div>
    <div class="profile-body body" [@slide-body-right]='stateRight[0]'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur rerum architecto distinctio tempora, tempore deleniti
        dolore atque et tenetur excepturi!</p>
    </div>
    <div class="heading" [@slide-header-right]='stateRight[1]'>
      <mat-icon>school</mat-icon>
      <h2>Wykształcenie</h2>
    </div>
    <div class="education-body body" [@slide-body-right]='stateRight[1]'>
      <div>
        <p>
          <em>10.2017 – 06.2018</em>
        </p>
        <p>
          <strong>Wyższa Szkoła Bankowa we Wrocławiu</strong>
        </p>
        <p>Programista front-end z AngularJS <a href="www.wsb.pl/wroclaw/studenci/studia-podyplomowe/kierunki/programista-front-end-z-angular-js">- program kierunku</a></p>
      </div>
      <div>
        <p>
          <em>10.2013 – 07.2015</em>
        </p>
        <p>
          <strong>Uniwersytet Przyrodniczy we Wrocławiu</strong>
        </p>
        <p>Techniki laboratoryjne w biologii</p>
      </div>
      <div>
        <p>
          <em>10.2010 – 07.2013</em>
        </p>
        <p>
          <strong>Uniwersytet Przyrodniczy we Wrocławiu</strong>
        </p>
        <p>Biologia</p>
      </div>
    </div>
    <div class="heading" [@slide-header-right]='stateRight[2]'>
      <mat-icon>cloud_done</mat-icon>
      <h2>Umiejętności</h2>
    </div>
    <div class="skills-body body" [@slide-body-right]='stateRight[2]'>
      <p>Bardzo dobra znajomość i obsługa komputera</p>
      <p>Znajomość środowiska <strong>MS Office</strong></p>
      <p>Znajomość oprogramowania <strong>Adobe Photoshop</strong></p>
      <p>Znajomość oprogramowania <strong>Sklepicom</strong> od nazwa.pl</p>
      <p>Doświadczenie w pracy normą <strong>ISO 9001:2008</strong></p>
      <p>Podstawowa znajomość środowiska <strong>Linux</strong></p>
      <p>Prawo jazdy <strong>kat. B</strong></p>
    </div>
    <div class="heading" [@slide-header-right]='stateRight[3]'>
      <mat-icon>language</mat-icon>
      <h2>Języki obce</h2>
    </div>
    <div class="languages-body body" [@slide-body-right]='stateRight[3]'>
      <div>
        <p>Angielski</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>Japoński</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
    </div>
    <div class="heading" [@slide-header-right]='stateRight[4]'>
      <mat-icon>code</mat-icon>
      <h2>Software skills</h2>
    </div>
    <div class="software-body body" [@slide-body-right]='stateRight[4]'>
      <div>
        <p>HTML 5</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>CSS 3</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>SASS</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>RWD</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>Bootstrap</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>JavaScript</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>AngularJS</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>Angular 2+</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>jQuery</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>Gulp/Webpack</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
      <div>
        <p>GIT</p>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-circle semi-transparent"></i>
        <i class="fas fa-circle semi-transparent"></i>
      </div>
    </div>
  </div>
