:host {
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

* {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

a:link,
a:visited {
  color: white;
  transition: all .2s ease-in-out;
}

a:hover,
a:active {
  color: #F44336;
  text-decoration: underline;
}

.cv-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  margin-top: 64px;
  min-height: 700px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.cv-side-left,
.cv-side-right {
  padding: 20px 0;
  padding-right: 10px;
}

.cv-side-left {
  background: rgb(18, 108, 180);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(0, 99, 175, 1) 0%, rgba(18, 108, 180, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 99, 175, 1) 0%, rgba(18, 108, 180, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 99, 175, 1) 0%, rgba(18, 108, 180, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0063af', endColorstr='#126cb4', GradientType=1);
  /* IE6-9 */
}

.cv-side-right {
  background: rgb(60, 60, 60);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(60, 60, 60, 1) 0%, rgba(50, 50, 50, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(60, 60, 60, 1) 0%, rgba(50, 50, 50, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(60, 60, 60, 1) 0%, rgba(50, 50, 50, 1) 100%, rgba(18, 108, 180, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#126cb4', GradientType=1);
  /* IE6-9 */
}

.cv-side-left .img {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cv-side-left .img>img {
  border-radius: 50%;
  height: 80%;
  border: 2px solid #eee;
}

.cv-side-left .heading,
.cv-side-right .heading {
  position: relative;
  padding-left: 65px;
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px
}

.cv-side-right .heading-name,
.cv-side-right .heading-profile {
  padding-left: 40px;
  min-height: 0px;
}

.cv-side-left .heading>h2,
.cv-side-right .heading>h2 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  width: 100%;
  transition: all .5s linear;
}

.cv-side-right .heading-name>h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: 300;
  color: #F44336;
}

.cv-side-left .heading:before,
.cv-side-right .heading:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}

.cv-side-left .heading:before {
  border-left: 15px solid #eee;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.cv-side-right .heading:before {
  border-left: 15px solid #eee;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.cv-side-left .heading>mat-icon,
.cv-side-right .heading>mat-icon {
  box-sizing: content-box;
  position: absolute;
  padding: 6px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.cv-side-left .heading>mat-icon {
  background-color: white;
  color: rgb(60, 60, 60);
}

.cv-side-right .heading>mat-icon {
  background: rgb(18, 108, 180);
  color: #eee;
}

.cv-side-left .body,
.cv-side-right .body {
  padding-left: 40px;
  margin-bottom: 20px
}

.cv-side-left .personal-body>div {
  position: relative;
}

.cv-side-left .experience-body>div,
.cv-side-right .education-body>div {
  margin-bottom: 15px;
}

.cv-side-left .personal-body>div>i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cv-side-left .personal-body>div>p {
  margin-left: 35px;
}

.cv-side-left .experience-body .details,
.cv-side-right .education-body .details {
  margin-top: 5px;
  /* font-style: italic; */
  /* font-weight: lighter; */
}

.cv-side-left .personality-body>p:before,
.cv-side-right .skills-body>p:before {
  content: "\2714";
  font-weight: bold;
  margin-right: 10px;
}

.cv-side-right .software-body>div,
.cv-side-right .languages-body>div {
  padding: 4px;
  /* background-color: antiquewhite; */
}

.cv-side-right .software-body>div:hover>p {
  padding-left: 20px;
}

.cv-side-right .software-body>div>p,
.cv-side-right .languages-body>div>p {
  display: inline-block;
  width: 50%;
  transition: all .3s .2s linear;
}

.cv-side-right .software-body>div>i,
.cv-side-right .languages-body>div>i {
  margin-right: 5px;
  transition: color .2s linear;
}

.cv-side-left .hobbies-body>i {
  display: inline-block;
  padding: 10px;
  font-size: 2em;
  /* background-color: brown; */
}

.semi-transparent {
  filter: alpha(opacity=20);
  opacity: .2;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
  .cv-container {
    max-width: 960px;
    margin: 60px auto;
    flex-flow: row nowrap;
  }
  .cv-container .cv-side-left {
    flex: 45%;
  }
  .cv-container .cv-side-right {
    flex: 55%;
  }
  .cv-side-left .personality-body>p {
    display: inline-block;
    width: 50%;
  }
  .cv-side-right .heading:before {
    border-left: 15px solid rgb(18, 108, 180);
  }
}
