:host {}

.login-container {
  width: 100%;
  padding: 10px;
}

.example-form {
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 160px;
  max-width: 360px;
}

.mat-form-field {
  margin-bottom: 40px;
}

.mat-raised-button {
  width: 100%;
  padding: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 380px) {
  .login-container {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .login-container {
    padding: 40px;
    max-width: 1140px;
    margin: 0 auto;
  }
}
