<div class="contactContainer">
  <div class="one">

    <div id="formWrapper">
      <h1>
        Ask me anything
      </h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, doloremque! Debitis aperiam, nihil ducimus quo perferendis
        ratione, repudiandae assumenda soluta dignissimos tempora illo distinctio cumque doloremque. Atque libero ducimus
        quam?
      </p>
      <form class="contactForm" [formGroup]="contactForm" (ngSubmit)="sendMessage()" #form="ngForm">

        <div class="formRow">
          <mat-form-field color="accent" appearance="outline">
            <mat-label>Your name</mat-label>
            <input matInput maxlength="50" type="text" formControlName="name" >
            <mat-error *ngIf="contactForm.get('name').errors">error</mat-error>
          </mat-form-field>

          <mat-form-field color="accent" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput maxlength="50" type="email" formControlName="email" >
            <!-- <mat-error *ngIf="">error</mat-error> -->
          </mat-form-field>
        </div>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput maxlength="50" type="subject" formControlName="subject" >
          <!-- <mat-error *ngIf="">error</mat-error> -->
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline">
          <mat-label>Message...</mat-label>
          <textarea matInput maxlength="500" type="message" formControlName="message" rows="4" >
          </textarea>
          <!-- <mat-error *ngIf="">error</mat-error> -->
        </mat-form-field>

        <button mat-raised-button type="submit" color="warn" [disabled]="contactForm.invalid || contactForm.pristine">Ask</button>
      </form>
    </div>


  </div>
  <div class="two">
    <div id="map" #gmap></div>
  </div>
</div>
