<div class="con">
  <div class="logo" routerLink="/home">Logo</div>
  <div class="navigation">
    <div routerLink="/home" data-name="HOME">
      <mat-icon>supervised_user_circle</mat-icon>
    </div>
    <div routerLink="/portfolio" data-name="WORK">
      <mat-icon class="material-icons md-36">web</mat-icon>
    </div>
    <div routerLink="/skills" data-name="SKILLS">
      <mat-icon>settings</mat-icon>
    </div>
    <div routerLink="/blog" data-name="BLOG">
      <mat-icon>chrome_reader_mode</mat-icon>
    </div>
    <div routerLink="/cv" data-name="CV">
      <mat-icon>fingerprint</mat-icon>
    </div>
    <div routerLink="/contact" data-name="CONTACT">
      <mat-icon>mail_outline</mat-icon>
    </div>
  </div>
  <div class="social">social</div>
</div>
