.con {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  flex-grow: 5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.navigation>div {
  position: relative;
  color: #4d4d4e;
  width: 100%;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  transition: all .4s linear;
}

.navigation>div:before {
  opacity: 0;
  content: attr(data-name);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .6em;
  transition: all .4s ease-in;
}

.navigation>div:hover {
  color: #eee;
  transform: scale(1.3);
}

.navigation>div:hover:before {
  opacity: 1;
}

.social {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
