<form class="post-form" (ngSubmit)=send(postForm) #postForm="ngForm">

  <mat-form-field color="accent">
    <mat-label>Tytuł</mat-label>
    <input ngModel matInput placeholder="" maxlength="20" type="text" name="title" #title required>
    <mat-hint align="end">{{title.value.length}} / 20</mat-hint>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-label>IMG_URL</mat-label>
    <input ngModel matInput placeholder="" type="url" name="img" required>
    <mat-icon matSuffix>link</mat-icon>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-label>Treść...</mat-label>
    <textarea ngModel matInput placeholder="" type="text" name="text" required></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" color="warn" [disabled]="postForm.invalid">Add post</button>

</form>
