:host {
}

.loading, .loadingError {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.post-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

p.date {
  text-align: right;
  color: #F44336
}

p.text {
  text-indent: 20px;
  text-align: justify;
}

p.back {
  margin-top: 60px;
  text-align: center;
}

p.back span {
  cursor: pointer;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 10px;
  background-color: #181818;
  transition: background-color .2s linear;
}

p.back span:hover {
  background-color: #F44336;
}


@media screen and (min-width: 768px) {
  .post-container {
    padding: 40px;
  }
}
