:host {
  display: block;
  height: 100vh;
  overflow: auto;
}

.container-intro {
  position: relative;
  max-width: 700px;
  padding: 10px 30px;
  margin-top: 75px;
  margin-bottom: 50px;
  /* overflow: auto; */
}

.container-intro:before,
.container-intro:after {
  position: absolute;
  display: block;
  left: 40px;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 1em;
  color: rgba(166, 166, 166, 0.2);
}

.container-intro:before {
  content: '<info>';
  top: -40px;
}

.container-intro:after {
  content: '</info>';
  bottom: -40px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

ul li {
  flex-basis: 64px;
  padding: 5px;
  margin: 5px;
}

ul li img {
  max-width: 100%;
  transform: scale(1);
  transition: all .2s linear;
}

ul li img:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .container-intro {
    padding: 0px 50px;
  }
  p {
    padding-left: 25px;
  }
  h1 {
    margin-bottom: 40px;
  }
  .list-wrapper {
    margin-top: 40px;
  }
}
