<!-- <div class="half"> -->

  <div class="container-intro">
    <h1>Zostań na chwilę i posłuchaj.</h1>
    <p>Strona ta powstała jako projekt zaliczeniowy kierunku - Programista Front-End z AngularJS - Wyższej Szkoły Bankowej we Wrocławiu </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, obcaecati molestias numquam maxime commodi inventore
      sunt dolores id ad perspiciatis facilis. Earum natus impedit maiores magni corrupti, ratione dicta. Laborum officiis
      eum quidem laboriosam in facere voluptates possimus vel ea iusto fuga doloremque nisi impedit dolorem beatae dolorum
      reiciendis sint quas dignissimos delectus, voluptas dicta ex. Est, quaerat sit!</p>
    <div class="list-wrapper">
      <h2>Wykorzystane technologie:</h2>
      <ul>
        <li><img src="./../../assets/html.png" alt="html5 logo"></li>
        <li><img src="./../../assets/css3.png" alt="css3 logo"></li>
        <li><img src="./../../assets/js.png" alt="javascript logo"></li>
        <li><img src="./../../assets/npm.png" alt="npm logo"></li>
        <li><img src="./../../assets/angular.png" alt="angular2  logo"></li>
        <li><img src="./../../assets/ts.png" alt="typescript logo"></li>
        <li><img src="./../../assets/maps.png" alt="googlemaps logo"></li>
        <li><img src="./../../assets/fb.png" alt="firebase logo"></li>
        <li><img src="./../../assets/mongolab.png" alt="mongolab logo"></li>
      </ul>
    </div>
  </div>

<!-- </div> -->
<!-- <div class="half">

  <h1>hello</h1>

</div> -->
