section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 6px 12px;
  margin: 10px;
  border-radius: 10px;
}

li:hover {
  background-color: #181818;
  cursor: pointer;
}

.active {
  background-color: #181818;
}

